@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.font-weight{
    font-weight: 300;
} 
/* common style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 8%;
    color: #FFFFFF;
}
.menu ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #575757;
}
nav button{
    padding: 12px 40px;
    border-radius: 12px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
}

/* navbar end  */
/* hero start  */

.hero-bg{
    background-image: linear-gradient(to right,rgba(0,0,0,1.8), rgba(0,0,0,0.0)),
     url("../images/assets/banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    margin: auto 8%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.hero h1 {
    font-size: 80px;
    margin: 60px 0px 20px;
}
.hero-btn button{
    padding: 18px 50px;
    margin-bottom: 50px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 12px

}

/* hero end  */

/* spesakers  */
.speakers{
    margin: auto 8%;
}
.speakers h1 {
    text-align: center;
    font-size: 42px;
}

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #0D1B2A;
}
.speaker-card{
    background-color: #e7e7ef;
    border-radius: 16px;
    border: 1px solid #cecece ;
}
.card-bottom{
    display: grid;
    gap: 10px;
    padding: 20px;
}

.title{
    color: #2563EB;
}
.speaker-card img {
    width:100% ;
    display: block;
    border-radius: 16px 16px 0px 0px; 
}

/* speaker end  */
/* pricing */

.pricing-head{
    margin-top: 120px;
    text-align: center;
    color: #0D1B2A;
}
.pricing-head h1{
    font-size: 44px;
    margin-bottom: 20px;
}

.pricing-container{
    margin: auto 8%;
    display: grid;
    grid-template-columns: repeat(  3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}
.pricing-card{
    margin-top: 50px;
    width: 300px;
    text-align: start;
    padding: 32px;
    background-color: #f6efef;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    min-height: 350px;
}
.pricing-card h1 {
    font-size: 44px;
    color: #0D1B2A;
}
.pricing-card hr {
    border: none;
    height: 1px;
    background-color: #bcb3b3;
    margin: 10px 0px;
}
.pricing-card ul {
    padding-left: 16px;
}
.pricing-card ul li{
    font-size: 14px;
    margin-bottom: 10px;
    color: #333333;
}
.pricing-card button {
    padding: 10px 0px;
    border: 1px solid #2563EB;
    border-radius: 8px;
}
.premium{
    background-color: #0D1B2A;
    color: #FFFFFF;
}
.premium h1,
.premium p,
.premium ul li {
    color: #FFFFFF;
}

.premium button {
    background-color: #2563EB;
    color: #FFFFFF;
}
